html,
body {
  height: 100%;
  margin: 0;
}
#maincont {
  display: flex;
  width: 100%;
  height: 100vh;
}
#signup,
#login {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#signup {
  background-color: rgb(80, 138, 246);
  display: none;
}
#login {
  background-color: rgb(167, 88, 241);
}
